---
title: Accueil
layout: layouts/home.njk
eleventyNavigation:
  key: Accueil
  order: 1
---
<h1>Accueil</h1>

<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12">
        <div class="fr-card fr-card--horizontal fr-enlarge-link">
            <div class="fr-card__body">
                <h2 class="fr-card__title">
                  <a href="/plan-action-logiciels-libres-et-communs-numeriques/" class="fr-card__link">Plan d'action logiciels libres et communs numériques</a>
                </h2>
                <p class="fr-card__desc">
		  Les trois axes du plan d'action logiciels libres et communs numériques: soutenir le recours aux logiciels libres dans l'administration ; développer l'ouverture des codes sources du secteur public ; renforcer l'attractivité de l'Etat-employeur en s'appuyant sur l'open source.
                </p>
            </div>
            <div class="fr-card__img">
              <img src="/img/plan-action.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
	<h2 class="fr-card__title">
	  <a href="/utiliser/" class="fr-card__link">Soutenir l'utilisation</a>
	</h2>
	<p class="fr-card__desc">
	  Mieux connaître, utiliser et concevoir les logiciels libres et les communs numériques.
	</p>
      </div>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
	<h2 class="fr-card__title">
	  <a href="/ouvrir/" class="fr-card__link">Accompagner l'ouverture</a>
	</h2>
	<p class="fr-card__desc">
	  Développer et accompagner l’ouverture et la libération des codes sources.
	</p>
      </div>
    </div>
  </div>

  <div class="fr-col-12 fr-col-md-4">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
	<h2 class="fr-card__title">
	  <a href="/bluehats/" class="fr-card__link">Renforcer l'attractivité</a>
	</h2>
	<p class="fr-card__desc">S’appuyer sur les logiciels libres et open source et sur les communs numériques pour renforcer l’attractivité de l’État-employeur auprès des talents du numériques</p>
      </div>
    </div>
  </div>
</div>
