---
layout: layouts/base.njk
---

<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-8 fr-col-md-8 fr-col-offset-2">
  <h1>{{ title }}</h1>
    {%- if date %}
      <p><time class="fr-tag" datetime="{{ date | htmlDateString }}">Publiée le {{ date | readableDate }}</time></p>
    {% endif %}
    {{ content | safe }}
  </div>
</div>
